 <!-- Begin Page Content -->
 <div class="container-sm" style="width:490px" id="container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <!--Primer Fila-->
        <div class="form-group">
            <label for="exampleInputEmail1">Usuario (DNI)</label>
            <input type="text" class="form-control" id="user" formControlName="dni"
            placeholder="00000000" maxlength="8" (keydown)="onKeyDown($event)" (onpaste)="onPaste($event)">
        </div>
            <!--Segunda Fila-->
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="password" formControlName="pass" maxlength="16">
        </div>
        <!--Tercer Fila-->
        <div class="form-group form-check" style="margin-top: 40px">
        <div class="row">
            <div class="col">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="check1">Mantenerme conectado</label>      
            </div>
            <div class="col"></div> 
            <div class="col-3">
            <button type="submit" class="btn btn-primary">Ingresar</button> 
            </div>
        </div>
        </div>
    </form>
</div>
<!--/ container-->